@use "global" as *;

.mission{
    padding-top: rem(100);

    &__text{
        font-size: clamp(16px, calc(1.6rem + ((1vw - 5px) * 2)), 20px);
        line-height: 2;
        font-weight: 700;
        color: #EB6100;
    }
}

@include mq (){
    .mission{
        padding-top: rem(150);
    }
}

.about{
    padding-top: rem(100);
    &__map{
        width: 100%;
        height: auto;
        margin-top: rem(60);
        iframe{
            width: 100%;
            aspect-ratio: 1000 / 380;

        }
    }
}

@include mq (){
    .about{
        padding-top: rem(150);
        &__map{
            iframe{
                aspect-ratio: 345 / 131;

            }
        }
    }
}

.CSR{
    padding-top: rem(100);
    margin-bottom: rem(60);
    .inner-1000{
        padding-left: 0;
        padding-right: 0;
    }
    &__contents{
        background-color: rgba($color: #f39801, $alpha: 0.15);
        padding-top: rem(30);
        padding-bottom: rem(30);
        border-radius: 0;
        margin-bottom:rem(60) ;
        padding-left: rem(20);
        padding-right: rem(20);
    }
    &__heading{
        font-size: clamp(18px, 3.6vw, 24px);
        color: #EB6100;
        margin-bottom: rem(20);
        font-weight: 700;
    }
    &__text{
        font-size: calc(16px + (4 * ((100vw - 500px) / 500)));
        color: #EB6100;
        font-weight: 700;
    }
    &__contents02{
        width: 100%;
        background-image: url(../images/about/csr-bg.png);
        background-position: 60% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: rem(37);
        padding-bottom: rem(32);
    }
    &__contents02-wrapper{
        width: calc((235px / 335px)*100%);
        padding-left: rem(20);
    }
   
}
@include mq (){
    .CSR{
        padding-top: rem(150);
        margin-bottom: rem(120);
        .inner-1000{
            padding-left: rem(50);
            padding-right: rem(50);
        }  
        &__contents{
            margin-bottom: rem(120);
            border-radius: rem(15);
        }
        &__contents02{
            padding-top: rem(62);
            padding-bottom: rem(62);
            background-position: center;
            background-size: cover;
            padding-top: rem(62);
            padding-bottom: rem(62);
        }
        &__contents02-wrapper{
        width: 100%;
        }
    }
}

.Activities{
    padding-top: rem(100);
    padding-bottom: rem(60);

}
.activity{
    max-width: rem(450);
    margin: 0 auto;
    &__heading{
        color: #fff;
        font-weight: 700;
        font-size: clamp(18px, 3.6vw, 24px);
        text-align: center;
        padding-top: rem(20);
        padding-bottom: rem(16);
    }
    &__heading--br{
        padding-top: rem(20);
        padding-bottom: rem(16);
    }
    &__text{
        color: #fff;
        font-weight: 700;
        margin-bottom: rem(16);

    }

}
@include mq (){
    .Activities{
        padding-top: rem(100);
    }
    .activity{
        &__heading{
            padding-top: rem(48);
            padding-bottom: rem(34);
            font-size: clamp(20px, calc(2vw + 4px), 24px);
            display: flex;
            flex-wrap: nowrap;
        }
        &__heading--br{
            padding-top: rem(30);
            padding-bottom: rem(16);
        }
    }
}







