@use "global" as *;

.Company-top{
    padding-top: 0;
    padding-bottom: rem(120);
    padding-left: rem(20);
    padding-right: rem(20);
    &__contents{
    display: grid;
    grid-template-columns: 1fr;
    gap: rem(20);
    }
    &__list{
        width: 100%;
        height: 100%;
        aspect-ratio: 335/ 198;
        padding: rem(9);
        border-radius: 15px;
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    
    }
    &__list--first{
        aspect-ratio: 375 / 145;
        text-align: center;
        padding-bottom: 0;
        
    }

    &__list--guide{
        background-image: url(../images/TOP/company-top01.jpg);
    } 
    &__list--message{
        background-image: url(../images/TOP/company-top02.jpg);
    } 
    &__list--recruit{
        background-image: url(../images/TOP/company-top03.jpg);
    } 
    &__list--staff{
        background-image: url(../images/TOP/company-top04.jpg);
    } 
    &__list--society{
        background-image: url(../images/TOP/company-top05.jpg);
    }
    &__lavel{
    
        background-image: linear-gradient(150deg, rgba(235, 97, 0, 0.52), rgba(243, 152, 1, 0.52));
        text-align: center;
        padding: rem(11) rem(50);
        margin-top: auto;
        margin-bottom: 0;
        border-radius: rem(12);
    }
    &__title{
        color: #fff;
    }
    &__text{
        color: #fff;
    }
}

.Tostaffblog-btn.pc-img{
    display: none;
    @include mq (){
        display: block;
    }
    
}

@include mq (){
    .Company-top{
        padding-top: rem(120);
        padding-left: 0;
        padding-right: 0;
        &__contents{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: 0;
        }
        &__list--first{
            padding-bottom: rem(60);
        }
        &__list{
         
            aspect-ratio: 357/ 342;
           
        }
    }

}

