@use "global" as *;

.points{
    padding-top: rem(60);
    padding-bottom: rem(60);
    &__title{
        color: #fff;
        text-align: center;
        font-size: clamp(24px, calc(2.4vw + 12px), 36px);
        margin-bottom: rem(40);

    }
}

.points-group03{
    display: grid;
    grid-template-columns: 1fr;
    gap: rem(30);
}

.point{
    max-width: rem(313);
    background-image: url(../images/knowledge/Knowledge-3point-bg.png);
    background-position: top;
    background-size: cover;
    padding-top: rem(20);
    margin-right: 0;
    margin: 0 auto;
    border-radius: rem(15);
    aspect-ratio: 313 / 436;
    &__lavel{
        width: fit-content;
        height: 36px;
        background-color: rgba(235, 97, 0);
        color: #fff;
        padding-left: rem(15);
        padding-right: rem(5);
        font-family: "Roboto", sans-serif;
        font-size: rem(24);
        position: relative;
        margin-bottom: rem(20);
        &::after{
            content: "";
            height: 100%;
            position: absolute;
            top: 0;   /* 縦軸をセンタリングする */ 
            right: 0;
            transform: translate(100%,0);   /* 縦軸をセンタリングする */  
            border: 17px solid transparent;
            border-left: 17px solid rgba(235, 97, 0);   /* 好みで色を変えてください */  
        }

    }
    &__heading{
        margin-left: rem(30);
        margin-right: rem(30);
        font-size: rem(18);
        color: rgba(235, 97, 0);
        font-weight: 700;
        margin-bottom: rem(30);
    }
    &__text{
        margin-left: rem(30);
        margin-right: rem(30);
        color: rgba(235, 97, 0);
        font-size: rem(16);
        font-weight: 700;
    }
}
.point-03{
    aspect-ratio: 313 / 332;

}

@include mq (){
    .points{
        padding-top: rem(120);
        padding-bottom: rem(120);
    }
    .points-group03{
        grid-template-columns: repeat(3, 1fr);
        gap: rem(30);
    }
    .point{
        aspect-ratio: 313 / 436;
        &__lavel{
            width: fit-content;
            height: 36px;
            background-color: rgba(235, 97, 0);
            color: #fff;
            padding-left: rem(15);
            padding-right: rem(5);
            font-family: "Roboto", sans-serif;
            font-size: rem(24);
            position: relative;
            line-height: 36px;
            margin-bottom: rem(20);
            &::after{
                content: "";
                height: 100%;
                position: absolute;
                top: 0;   /* 縦軸をセンタリングする */ 
                right: 0;
                transform: translate(100%,0);   /* 縦軸をセンタリングする */  
                border: 18px solid transparent;
                border-left: 18px solid rgba(235, 97, 0);   /* 好みで色を変えてください */  
            }
    
        }
        
    }
    .point-03{
        aspect-ratio: 313 / 436;

    }
}
