@use "global" as *;

.process{
    padding-top: rem(60);
    padding-bottom: rem(60);
}

.process-accordion {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 7px;
    border-radius: 5px;
    &__item{
        margin-bottom: rem(30);
        border-radius: rem(15);
    }
}

.process-accordion summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1em 2em;
    color: #eb6100;
    font-weight: 700;
    background-color: #eb6100;
    border-radius: rem(10);
    color: #fff;
    cursor: pointer;
}

.process-accordion summary::-webkit-details-marker {
    display: none;
}

.process-accordion summary::before,
.process-accordion summary::after {
    width: 3px;
    height: .9em;
    border-radius: 5px;
    background-color: #fff;
    content: '';
}

.process-accordion summary::before {
    position: absolute;
    right: 2em;
    rotate: 90deg;
}

.process-accordion summary::after {
    transition: rotate .3s;
}

.process-accordion__item[open] summary::after {
    rotate: 90deg;
}

.process-accordion p {
    transform: translateY(-10px);
    opacity: 1;
    margin: 0;
    padding: .3em 2em 1.5em;
    color: #eb6100;
    transition: transform .5s, opacity .5s;
}

.process-accordion[open] p {
    transform: none;
    opacity: 1;
    color: #eb6100;
}

.process-contents02{
    width: 100%;
    background-image: url(../images/knowledge/to-process-bg.png);
    background-position: center;
    background-size: cover;
    padding-top: rem(60);
    padding-bottom: rem(60);
    &__bg-white{
        width: calc((1000px/ 1440px)*100%);
        margin: 0 auto;
        background-color: rgba($color:#ffffff, $alpha: 0.9);
        border-radius: rem(15);
    }
    &__text{
        color: #eb6100;
        padding-top: rem(30);
        padding-bottom: rem(30);
        text-align: center;
        font-weight: 900;
        line-height: 2;
    }
}