@use "global" as *;

.process{
    padding-top: rem(100);
    padding-bottom: rem(60);
    .section__title--eg{
        font-size: rem(30);
        line-height: 1;
    }
}

.process-accordion {
    width: 100%;
    max-width: rem(550);
    margin: 0 auto;
    margin-bottom: rem(60);
    &__item{
        margin-bottom: rem(30);
        border-radius: rem(15);
    }
}

.process-accordion summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1em 2em;
    color: #eb6100;
    font-weight: 700;
    background-color: #eb6100;
    color: #fff;
    cursor: pointer;
    border-top-left-radius: rem(10);
    border-top-right-radius: rem(10);
    border-bottom-left-radius: rem(10);
    border-bottom-right-radius: rem(10);
}

.process-accordion summary::-webkit-details-marker {
    display: none;
}

.process-accordion summary::before,
.process-accordion summary::after {
    width: 3px;
    height: .9em;
    border-radius: 5px;
    background-color: #fff;
    content: '';
}

.process-accordion summary::before {
    position: absolute;
    right: 2em;
    rotate: 90deg;
}

.process-accordion summary::after {
    transition: rotate .3s;
}
.process-accordion__item[open] summary {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.process-accordion__item[open] summary::after {
    rotate: 90deg;
}

.process-accordion p {
    transform: translateY(-10px);
    opacity: 1;
    margin: 0;
    padding: .3em 2em 1.5em;
    color: #eb6100;
    transition: transform .5s, opacity .5s;
}

.process-accordion[open] p {
    transform: none;
    opacity: 1;
    color: #eb6100;
}

.process-accordion{
    &__contents{
        padding-top: rem(15);
        padding-left: rem(10);
        padding-right: rem(10);
        padding-bottom: rem(10);
        text-align: center;
        border-left: 1px solid  #eb6100;
        border-bottom: 1px solid  #eb6100;
        border-right: 1px solid  #eb6100;
        border-bottom-left-radius: rem(15);
        border-bottom-right-radius: rem(15);
    }
    &__text{
        font-weight: 700;
        margin-bottom: rem(30);
        color: #333;
    }
    &__img{
        .pc-img{
            display: none;
        }
        .sp-img{
            display: block;
        }
    }
}
.process-accordion__text.font-color-or{
    color: #eb6100;
    margin-bottom: rem(5);

}


// @include mq (){
//     .process-accordion{
//             max-width: rem(1000);
//             margin-bottom: rem(120);
//         &__contents{
//             padding-top: rem(30);
//             padding-left: rem(30);
//             padding-right: rem(30);
//             padding-bottom: rem(10);
//         }
//     }
// }
@media screen and (min-width: 600px) {
    .process-accordion{
            max-width: rem(1000);
            margin-bottom: rem(120);
        &__contents{
            padding-top: rem(30);
            padding-left: rem(30);
            padding-right: rem(30);
            padding-bottom: rem(10);
        }
        &__img{
            .pc-img{
                display: block;
            }
            .sp-img{
                display: none;
            }
        }
    }
    
}





.process-contents02{
    width: 100%;
    background-image: url(../images/knowledge/to-process-bg.png);
    background-position: center;
    background-size: cover;
    padding-top: rem(60);
    padding-bottom: rem(60);
    &__bg-white{
        width: 80%;
        margin: 0 auto;
        background-color: rgba($color:#ffffff, $alpha: 0.9);
        border-radius: rem(15);
    }
    &__text{
        color: #eb6100;
        padding-top: rem(30);
        padding-bottom: rem(30);
        text-align: left;
        font-size: rem(18);
        font-weight: 600;
        line-height: 2;
        padding-left: rem(10);
        padding-right: rem(10);
    }
}
@include mq (){
    .process{
        padding-top: rem(150);
        .section__title--eg{
            font-size: rem(51);
        }
    }
    .process-contents02{
        &__text{
            font-size: rem(20);
            text-align: center;
            padding-left: 0;
            padding-right: 0;

        }
        &__bg-white{
            width: calc((1000px/ 1440px)*100%);
            max-width: rem(1000);
        }

    }
}



.process-contents03{
    padding-top: rem(60);
    padding-bottom: rem(60);
    position: relative;
    &__heading{
        width: 85%;
        margin: 0 auto;
        font-size: clamp(24px, calc(4.6vw + 1px), 31px);
        font-weight: 900;
        color: #eb6100;
        text-align: center;
        margin-bottom: rem(60);
    }
    .col-2{
        flex-direction: column;
    }
    &__img{
        width: 100%;
        aspect-ratio: 335 / 203;
        margin-right: 0;
        margin-bottom: rem(30);
        img{
            display: block;
            width: 100%;
            height: 100%;
            aspect-ratio: 311 / 203;
            object-fit: cover;
        }
    }
    &__text{
        width: 100%;
        font-size: clamp(16px, calc(4.6vw + 1px), 18px);
        display: flex;
        justify-content: center;
        align-items: center;
        color: #eb6100;
        font-weight: 600;
    }
    &__logo{
        width: 90%;
        margin: 0 auto;
        margin-top: rem(60);
        position: relative;
        &::after{
            position: absolute;
            content: "";
            left: 50%;
            bottom: -50%;
            transform: translate(0, 100%);
            width: calc((27px / 621px)* 100%);
            height: auto;
            background-image: url(../images/knowledge/bottom-arrow.png);
            background-position: center;
            background-size: cover;
            aspect-ratio: 27 / 131;

            
        }
        // &::before{
        //     position: absolute;
        //     content: "";
        //     width: 4px;
        //     height: 125px;
        //     background-color: #eb6100;
        //     bottom: 0;
        //     left: 50%;
        //     transform: translate(-50%, 170px);
        // }
        // &::after{
        //     position: absolute;
        //     content: "";
        //     background-color: #eb6100;
        //     width: 4px;
        //     height: 50px;
        //     left: 52%;
        //     bottom: -175px;
        //     transform: translate(50%, 0) rotate(45deg);

        // }
    }
    &__img02{
        width: 95%;
        margin: 0 auto;
        aspect-ratio: 818 / 356;
        img{
            display: block;
            width: 100%;
            aspect-ratio: 818 / 356;
            
        }

    }
    &::before{
        position: absolute;
		content: "";
		width: 100%;
        background-color: #fff;
		height: 60px;
		position: absolute;
		bottom: 0px;
		clip-path: polygon(0% 0%, 0% 100%, 50% 100%);
	}
	&::after{
		content: "";
		width: 100%;
		height: 60px;
        background-color: #fff;
		position: absolute;
		bottom: 0px;
		clip-path: polygon(50% 100%, 100% 0%, 100% 100%);
    }


}
.knowledge-h4-wrapper{
    padding-top: rem(120);
}

@include mq (){
    .process-contents03{
        padding-top: rem(120);
        padding-bottom: rem(120);
        &__logo{
            width: 61%;
            max-width: rem(610);
            // &::after{
            //     left: 50%;
            //     transform: translate(350%, 0) rotate(45deg);
               
                
            // }
        }
        .col-2{
            flex-direction: row;
        }
        &__heading{
            width: 71.3%;
        }
        &__img{
            width: 31%;
            aspect-ratio: 311 / 203;
            margin-right: 5%;
            margin-bottom: 0;
        }
        &__text{
            width: 61%;
        }
        &__img02{
            width: 65.8%;
        }
    }
    
}






