@use "global" as *;


// 物件詳細

.residence{
    width: 100%;
    max-width: rem(1100);
    margin: 0 auto;
    padding-left: rem(20);
    padding-right: rem(20);
    margin-bottom: rem(60);
}
.residence-contents{
    width: 100%;
    max-width: rem(1000);
    margin: 0 auto;
    border: 2px solid #333;
    border-radius: rem(15);
}

.residence-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: rem(22) rem(8);
    border-top-right-radius: rem(8);
    border-top-left-radius: rem(8);
}
.residence-top-left{
    display: flex;
    &__category{
        align-items: center;
        height: fit-content;
        padding: rem(5) rem(5);
        background-color: #fff;
        border-radius: 8px;
        margin-right: rem(5);
        font-weight: 700;
        flex-wrap: nowrap;
        min-width: rem(80);
        font-size: 14px;
        margin-top: auto ;
        margin-bottom: auto;
        @media (min-width: 600px) and (max-width: 800px) {
            font-size: calc(14px + (4 * ((100vw - 600px) / 200)));
        }
        @media (min-width: 800px) and (max-width: 1000px) {
            font-size: calc(18px + (2 * ((100vw - 800px) / 200)));
        }
        @media (min-width: 1000px) {
            font-size: rem(20);
        }


    }
    &__title--jp{
        font-size: clamp(16px, 4.705vw, 20px);
        color: #fff;
        font-weight: 700;
        line-height: 26px;
    
    }
}

.residence-map{
    border-radius: rem(12);
    a{
        display: flex;
        width: 100%;
        height: 100%;
        background-color: #fff;
        padding: 0 rem(5);
        border-radius: rem(12);
        align-items: center;
        justify-content: center;
    }
    &__text{
        margin-left: rem(10);
        color: #000;
        font-size: rem(14);
        font-weight: 700;
        @media (min-width: 600px) and (max-width: 800px) {
            font-size: calc(14px + (4 * ((100vw - 600px) / 200)));
        }
        @media (min-width: 800px) and (max-width: 1000px) {
            font-size: calc(18px + (2 * ((100vw - 800px) / 200)));
        }
        @media (min-width: 1000px) {
            font-size: rem(20);
        }
    }
    
}

// 物件のメイン画像

.residence-main-img{
    padding-top: rem(60);
    padding-bottom: rem(60);
    
        width: 95%;
        margin: 0 auto;
        aspect-ratio: 690 / 391;
        border-radius: rem(15);
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: rem(15);
        }
}
// 物件の詳細画像

.residence-detail-img{
    padding-top: rem(60);
    padding-bottom: rem(60);
    text-align: center;
    .residence-detail-heading{
        font-size: rem(20);
        margin-bottom: rem(30);
    }
}

/* メインスライダー */
.slider04 {
    width: 85%;
    margin: 0 auto;
    border-radius: rem(15);
    margin-bottom: rem(30);
}
.slider04 .splide__slide{
    border-radius: rem(15);
}
/* サムネイルスライダー */
.slider04-thumbnails .splide__slide {
    opacity: 0.5;
    cursor: pointer;
    border: 2px solid transparent;
}

.slider04-thumbnails .splide__slide.is-active {
    opacity: 1;
    border-color: #EB6100;
}
.slider04-thumbnails img {
    aspect-ratio: 1/1;
    object-fit: cover;
}

.splide__arrow svg{
    width: 1.2em;
    height: 5em;
}
.splide__track--slider04-thumbnails{
    width: 60%;
    margin: 0 auto;
}
.slider04-thumbnails .splide__arrow--prev {
    left: 5em;
}

.slider04-thumbnails .splide__arrow--next{
    right: 5em;
}
@media screen and (max-width: 630px) {
    
    .slider04-thumbnails .splide__arrow--prev {
        left: 1em;
    }
    
    .slider04-thumbnails .splide__arrow--next{
        right: 1em;
    }
}
@media screen and (max-width: 450px){
    .slider04-thumbnails .splide__arrow--prev {
        left: 0;
    }
    
    .slider04-thumbnails .splide__arrow--next{
        right: 0;
    }
}

.slider04-thumbnails .splide__arrow{
    top: -140%;
    @media screen and (max-width: 950px) {
        top: -120%;
        
    }
    @media screen and (max-width: 630px) {
        top: -300%;
    }
    @media screen and (max-width: 450px){
        top: -250%;
    }

}

// スライダーの矢印
.splide__arrow--prev svg {
    transform: scaleX(1);
}
.slider04-thumbnails{
    .splide__arrow{
        background-color: transparent;
    }
    .splide__arrow svg{
        fill: #333;
    }
}

.splide-nearby{
    .splide__arrow{
        background-color: transparent;
    }
    .splide__arrow--prev {
        left: -8%;
    }
    .splide__arrow--next {
        right: -8%;
    }
} 


// 物件の特徴

.residence-point{
    margin-left: rem(20);
    margin-right: rem(20);
    border-radius: rem(15);
    margin-bottom: rem(60);
    &__title{
        margin: 0 auto;
        text-align: center;
        font-weight: 700;
        font-size: rem(16);
        border-top-left-radius: rem(15);
        border-top-right-radius: rem(15);
        padding-top: rem(20);
        padding-bottom: rem(20);
    }
    
    &__contents{
        padding-top: rem(30);
        padding-left: 11.11111%;
        padding-right: 11.11111%;
        padding-bottom: rem(60);
        border-bottom-left-radius: rem(15);
        border-bottom-right-radius: rem(15);
        
    }
    &__heading{
        width: fit-content;
        margin: 0 auto;
        line-height: 2;
        font-weight: 700;
        font-size: rem(16);
        border-bottom: 1px solid ;
        margin-bottom: rem(20);
    }
    &__text{
        font-size: rem(14);
        line-height: 2;
        font-weight: 700;
    }

}

.nearby-facilities {
    padding: 60px 20px;
    background-color: #FDEFD8;
}

.facility-card {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    overflow: hidden;
    text-align: center;
}
.facility-card__img img {
    margin-bottom: 10px;
    object-fit: cover;
    aspect-ratio: 4/3;
}
.facility-card__text {
    font-size: 14px;
    line-height: 1.5;
    color: #333;
}
  




@include mq (){
    .residence{
        max-width: rem(1100);
        padding-left: rem(50);
        padding-right: rem(50);
        margin-bottom: rem(120);
    }
    .residence-top{
        padding: rem(22) rem(30);
       
    }

    .residence-top-left{
        &__category{
          
            padding: rem(8) rem(11);
        }
        &__title--jp{
            line-height: 46px;
        
        }

    }
    .residence-map{
        a{
            padding: rem(8) rem(11);

        }
    }
    .residence-main-img{
        width: calc((690px / 1000px)*100%);
    }
    .residence-point{
        max-width: rem(1000);
        padding-left: rem(50);
        padding-right: rem(50);
        &__title{
            margin: 0 auto;
            font-size: rem(20);
        }
        &__heading{
            font-size: rem(18);
        }
        &__text{
            font-size: rem(16);
        }
    }
    .slider04 {
        width: calc((690px / 1000px)*100%);
        margin: 0 auto;
        border-radius: rem(15);
        margin-bottom: rem(30);
    }
    .splide__track--slider04-thumbnails{
        width: 60%;
        margin: 0 auto;
    }
    
    .slider04-thumbnails .splide__arrow--prev {
        left: 5em;
    }
    
    .slider04-thumbnails .splide__arrow--next{
        right: 5em;
    }
    .residence-point{
        margin: 0 auto;
        margin-bottom: rem(60);
    }

    
   
}




// 物件詳細情報
.residence-detail-info{
    width: 100%;
    padding-left: rem(20);
    padding-right: rem(20);
}

.residence-detail-heading{
    width: fit-content;
    margin: 0 auto;
    font-size: rem(20);
    margin-bottom: rem(60);
}

.residence-detail-table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    &__item{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    &__item--first{
        border-top-right-radius:15px ;
        border-top-left-radius:15px ;

        .residence-detail-table__head {
            border-top-right-radius:15px ;
            border-top-left-radius:15px ;
        }
    
    }
    &__head{
        display: flex;
        align-items: center;
        text-align: left;
        padding: 1rem;
        font-weight: 700;
    }
    &__body{
        display: flex;
        align-items: center;
        padding: 1rem;
        font-weight: 700;
        font-size: rem(14);
    }
    &__item--end{
        border-bottom-right-radius:15px ;
        border-bottom-left-radius:15px ;
        .residence-detail-table__body {
            border-bottom-right-radius:15px ;
            border-bottom-left-radius:15px ;
        }
    }
    

}

.residence-detail-caption{
    padding-top: rem(20);
    padding-bottom: rem(60);
    padding-left: rem(20);
    padding-right: rem(20);
    &__unit{
        width: 100%;
    }
    &__text{
        display: block;
        font-size: rem(12);
        color: #5D5D5D;
    }
}




@include mq (){
    .residence-detail-info{
        padding-left: rem(50);
        padding-right: rem(50);
    }
    .residence-detail-table{
        &__item{
            flex-direction: row;
        }
        &__item--first{
            .residence-detail-table__head {
                border-top-right-radius: 0 ;
            }
            .residence-detail-table__body{
                border-top-right-radius: rem(15) ;
            }
        }
        &__head{
            width: 30%;
            border-bottom: 1px solid #fff;
        }
        &__body{
            width: 70%;
        }
        .residence-detail-table{
            &__body{
                font-size: rem(16);
            }

        }
        &__item--end{
            border-bottom-right-radius:15px ;
            border-bottom-left-radius:15px ;
            .residence-detail-table__head{
                border-bottom-left-radius:15px ;
            }
            .residence-detail-table__body {
                border-bottom-right-radius:15px ;
                border-bottom-left-radius:0 ;
            }
        }
        
    }
    .residence-detail-caption{
        padding-top: rem(30);
        padding-bottom: rem(60);
        padding-left: rem(20);
        padding-right: rem(20);
        &__text{
            color: #5D5D5D;
        }
    }
}

