@use "global" as *;

.mv{
    width: 100%;
    margin-bottom: rem(60);
    position: relative;
    &__img{
        width: 100%;
        aspect-ratio: 375 / 333;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .mv-page-title{
        margin-top: rem(80);
        text-align: center;
        &__text--jp{
            font-size: rem(24);
        }

    }
    &__title{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }
    &__title--jp{
        font-size: rem(24);
        color: #EB6100;
        font-family: $base-font-family;
        font-weight: 700;
    }
    &__title--eg{
        font-size: rem(49);
        font-family: $second-font-family;
        font-weight: 900;
         color: #EB6100;
    }

}

@include mq (){
    .mv{
        margin-bottom: rem(30);
        &__img{
            aspect-ratio: 1440 / 479;
        }
        .mv-page-title{
            margin-top: rem(60);
            &__text--jp{
                font-size: rem(36);
            }
        }
        &__title--jp{
            text-align: center;
        font-size: rem(33);
        }
        &__title--eg{
            font-size: rem(91);
        }

    }

}

.residence__orange-bg{
    .mv-page-title{
        &__text--jp{
            color: #EB6100;
        }
    }

}

