@use "global" as *;

.section__title{
    position: relative;
    margin-bottom: rem(60);
    &--eg{
        color: rgba($color: #EB6100, $alpha: 0.13);
    }
    &--jp{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    &--text{
        position: absolute;
        bottom: 0;
        transform: translateY(90%);
        white-space: nowrap;
    }

}

.text-right{
    text-align: right;
    .section__title--jp{
        right: 2%;
    }
    .section__title--text{
        right: 0;
    }

}

.text-center{
    text-align: center;
    .section__title--jp{
        left: 50%;
        transform: translate(-50%, -50%);
        white-space: nowrap;
    }
    .section__title--text{
        left: 50%;
        transform: translateX(-50%);
    }
}

.section__title--news{
    margin-bottom: rem(34);
}

.section__title--company{
    .section__title--eg{
        font-size: rem(50);
    }
    .section__title--jp{
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.section__title--voice{
    margin-bottom: rem(20);
}

@include mq (){
    .section__title{
        &--text{
            transform: translateY(-50%);
        }
    }
    .section__title--news{
        margin-bottom: rem(76);
    }
    .section__title--company{
        margin-bottom: rem(74);
    }
    .section__title--company{
        margin-bottom: rem(24);
        .section__title--eg{
            font-size: rem(70);
        }
        .section__title--jp{
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}


